{{ template "header.html"}}
<link rel="stylesheet" type="text/css" href="/assets/css/ingredients.css" />

<section class='main'>

    <ul id="ingredients_table">
    {{ range .ingredients }}
        <li class="ingredient-elem">
            <span class="name">{{ .Name }}</span>
            <span class="remove">[✗]</span>
        </li>
    {{ end }}
    </ul>

    <form id="new_ingredient_form" action="/ingredient/new" method="post">
        <input type="text" name="name" placeholder="Add new ingredient...">
        <input type="submit" value="✓">
    </form>

</section>

<script src='vendor/js/jquery.min.js'></script>
<script src='assets/js/ingredients.js'></script>

{{ template "footer.html"}}
